<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA3769661EBB2A6B000CCBC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA37697A1EBB2A6C000CCBC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3769851EBB2A6C000CCBC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
